footer{
    padding: 0 10%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo{
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: #869AC7;
        }
        span{
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #869AC7;
        }
    }
    p{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #869AC7;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
        img{
            height: 40px;
            width: 45px;
            border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
            cursor: pointer;
            margin: 20px;
            &:nth-child(1){background-color: #F585A7; }
            &:nth-child(2){background-color: #99E1EF;}
            &:nth-child(3){ background-color: #8A9CC6; }
            &:nth-child(4){ background-color:  #AA89C0;}
        }
    }
}

//Making responsive
@media (max-width: 1024px){
    footer{
        .icons{
            display: flex;
            flex-wrap: wrap;
            img{
                height: 35px;
                width: 40px;
                margin: 10px;
            }
        }
    }
}
@media (max-width: 601px){
    footer{
        flex-direction: column;
        .icons{
            display: flex;
            flex-wrap: wrap;
            img{
                height: 25px;
                width: 30px;
                margin: 10px;
            }
        }
    }
}
@media (max-width: 450px){
    footer{
        flex-direction: column;
        .logo{
            h1{font-size: 16px;}
            span{ font-size: 10px; }
        }
        p{ font-size: 12px;}
        .icons{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 30px;
            img{
                height: 25px;
                width: 30px;
                margin: 10px;
            }
        }
    }
} 