.landingContainer{
    position: relative;
    overflow: hidden;
    height: 100vh;
    .pig_blob{
        position: absolute;
        top: -5%;
        right: -15%;
        width: 1260px;
        height: 600px;
        overflow: hidden;
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
        background-size: cover;
        background-position: center;
        background-color: #F7D7DB;
        z-index: -1;
        animation: blob 3.7s linear infinite;
        img{
            position: absolute;
            right: 0%;
            bottom: -15%;
            height: 630px;
        }
    }
    .intro{
        position: absolute;
        left: 10%;
        top: 225px;
        @include flexCenter;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        letter-spacing: 1px;
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
            color: $primaryTextColor;
        }
        p{
            margin-top: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $secondaryTextColor;
        }
        .buttons{
            margin-top: 30px;
            .btn{
                margin-right: 30px;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                width: 160px;
                height: 40px;     
                border-radius: 8px;
                background-color: $buttonBackground;
                cursor: pointer;
                border: none;
                outline: none;
                &:nth-child(1){color: #fff;} 
            }
            .btn2{
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                width: 160px;
                height: 40px;     
                border-radius: 8px;
                background-color: $buttonBackground;
                cursor: pointer;
                border: none;
                outline: none;
                color: $primaryTextColor;
                background-color: rgb(48, 82, 159, .2);
            }
        }
    }
    .backElements{
        position: absolute;
        bottom: -20%;
        z-index: -11;
    }
    .backElements1{
        height: 400px;
        position: absolute;
        right: -5%;
        bottom: 0;
        z-index: -11;
        transform: rotate(56deg);
    }
}
@keyframes blob{
    0%, 100%{border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;}
    33%{ border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;}
    66%{ border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%; }
}




//making responsive design
@media (min-width: 1440px) and (min-height: 900px){
    .landingContainer{
        height: 70vh;
        .pig_blob{
            top: -5%;
            right: -25%;
            width: 1200px;
            height: 580px;
        }
    }
}
@media (min-width: 1280px){
    .landingContainer{
        .pig_blob{
            top: -5%;
            right: -25%;
            width: 1200px;
            height: 580px;
        }
    }
}
@media (max-width: 1024px){
    .landingContainer{
        .pig_blob{
            top: -5%;
            right: -25%;
            width: 1000px;
            height: 580px;
        }
    }
}
@media (max-width: 935px){
    .landingContainer{
        .pig_blob{
            top: -9%;
            right: -25%;
            width: 1260px;
            height: 600px;
        }
        .intro{
            width: 70%;
            top: 290px;
        }
    }
}
@media (max-width: 835px){
    .landingContainer{
        .pig_blob{
            top: -9%;
            right: -25%;
            width: 1260px;
            height: 600px;
        }
        .intro{
            width: 70%;
            top: 290px;
            .buttons{  display: flex; }
        }
    }
}
@media (max-width: 601px){
    .landingContainer{
        .pig_blob{ right: -55%; }
        .buttons{  display: flex; }
    }
}
@media (max-width: 450px){
    .landingContainer{
        .pig_blob{
            top: -10%;
            right: -65%;
            width: 900px;
            height: 600px;
            img{
                bottom: -5%;
                height: 430px;
            }
        }
        .intro{
            left: 10%;
            top: 190px;
            width: 80%;
            h1{
                font-size: 40px;
                line-height: 40px;
            }
            p{  font-size: 14px; }
            .buttons{
                display: flex;
                .btn{
                    margin-right: 10px;
                    font-size: 14px;
                    width: 130px;
                    height: 34px;     
                }
            }
        }
    }
}
